
/*Css home------------------------------------------------------------------------*/

body{
  background-color:rgb(255, 255, 255);
}
#Navar{
  
  font-style: boil;
}

#cards {
  
  padding: 30px 0px;
 
}
#cards .linea{
  
  padding: 0px 25px;
}
#cards h4{
  color: rgb(22, 22, 22);
  padding: 30px;
}
 .carousel{
  width: 85vw;
  margin: 0 auto;
  padding: 40px 40px;
 
  
}

#cards .cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#cards .card {
  margin: 30px auto;
  width: 260px;
  height: 260px;
  border-radius: 50%;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

#cards .card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

#cards .card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
}

#cards .card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 23px;
  margin-top: 5px;
  height: 40px;
}

#cards .card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

#cards .title-white {
  color: white;
}

#cards .title-black {
  color: black;
}

@media all and (max-width: 500px) {
  #cards .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

#cards .label{
width: 35vw;
margin: auto;
}


/*Css home------------------------------------------------------------------------*/

/*Css menu------------------------------------------------------------------------*/

#menusito h5{
  font-style: boil;
  color: black;
  
}
#menusito .cards-list {
  
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#menusito .card {
  margin: 30px auto;
  width: 220px;
  height: 220px;
  border-radius: 50%;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

#menusito .card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

#menusito .card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
  
}

#menusito .card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  height: 30px;
}

#menusito h5{
  padding: 0px 30px ;
}

#menusito .divicion img{
  padding: 40px 30px;
}

#menusito .card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

#menusito .title-white {
  color: white;
}

#menusito .title-black {
  color: black;
}

@media all and (max-width: 500px) {
  #menusito .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

#menusito .label{
width: 35vw;
margin: auto;
}

#footer {
  padding: 40px 0px;
}
/*
#menusito .card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}

/*Css menu------------------------------------------------------------------------*/







/*Css ingresar------------------------------------------------------------------------*/

#pru body{
	margin:0;
	color:#f3f4f8;
	background:#ffffff;
	
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:1000px;
	min-height:670px;
	position:relative;
	background: url(Fotos/logocat.png) no-repeat center;
	box-shadow:0 12px 10px 0 rgba(8, 8, 8, 0.384),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background: #1a1d20bb;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#c078e3;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255, 255, 255, 0.193);
}
.login-form .group input[data-type="password"]{
	input-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#f7f4f4;
	font-size:12px;
}
.login-form .group .button{
	background:#343a40;
}

.login-form .group .button:hover{
	background:#c078e3;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(0, 0, 0, 0.601);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#c078e3;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(201, 79, 235, 0.2);
}
.foot-lnk{
	text-align:center;
  color: #fff;
}

.foot-lnk a:hover{
  
  color: #c078e3;
}
/*Css ingresar------------------------------------------------------------------------*/

/*Css Contacto------------------------------------------------------------------------*/

body{
 background-color: rgb(242, 240, 239);
}
#form .login-wrap{
	width: 660px; 
  height: auto;
	margin:  auto;
  border-radius: 10px; 
 
	background: url(Fotos/logocat.png) no-repeat center;
  border:none;
	
}

#form .contact_form{	
	width: 660px; 
  height: auto;
  margin:  auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #1a1d20be; 
  padding-left: 30px; 
 
	box-shadow:0 12px 10px 0 rgba(8, 8, 8, 0.384),0 17px 50px 0 rgba(0,0,0,.19);
}


#form input{
	background:rgba(255, 255, 255, 0.193);
	width: 600px; 
	height: 40px; 
	border-radius: 25px;  
	border-style: solid; 
	padding-left: 10px;
  margin-bottom: 20px; 
  border:none;
}


#form textarea{
  background:rgba(255, 255, 255, 0.193);
	width: 405px; 
	height: 150px; 
  border-radius:25px;
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
  border:none;
	
}


#form label{
  display: block; 
	float: center; 	
}


#form button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	background-color: #343a40; 
	border-radius:25px;
	width: 600px;   
  cursor: pointer;
  border:none;
}
#form button:hover{
  background-color: #c078e3; 
  
}

#form button p{
	color: #ffffff; 
}


#form span{
	color: #c078e3; 
}


#form .aviso{
	font-size: 13px;  
	color: #ffffff;  
}


#form h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #ca93e6;
}


#form h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #ffffff;   
}


#form p{
	font-size: 14px; 
	color: #ffffff; 
}


#form ::-webkit-input-placeholder {
 color: #6d6b6b;
}


#form ::-webkit-textarea-placeholder {
 color: #6d6b6b;
}


#form .formulario input:focus{
	outline:0;
	border: 1px solid #c078e3;
}


#form .formulario textarea:focus{
	outline:0;
	border: 1px solid #c078e3;
}
/*Css ingresar------------------------------------------------------------------------*/